@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using RobotsWorld.Models
@using RobotsWorld.Services.Contracts
@model RobotOutputModel
@inject IRobotService RobotService
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Robot Details";
    var assembliesCount = RobotService.GetAssembliesCount(@Model.Id);
}
<section class="banner-area relative" id="home">
    <div class="container">
        <main class="pt-100 pb-100">
            <div class="container dark-grey-text  card justify-content-start">

                <!--Grid row-->
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-md-4 mb-4">

                        <img src="@Model.ImageUrl" class="img-fluid" alt="">

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-8 mb-4">

                        <!--Content-->
                        <div class="p-4">

                            <h1 class="lead font-weight-bold">@Model.Name</h1>

                            <p>
                                S/N: @Model.SerialNumber<br />
                                Axes: @Model.Axes <br />
                                Creator: @Model.User <br />
                                Sub Assemblies: @Model.AssembliesCount
                            </p>

                        </div>
                        <!--Content-->
                        <div class="col-lg-4 col-sm-12">
                            <a class="btn btn-warning" asp-controller="Robots" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit text-light"></i></a>
                            <a class="btn btn-danger" asp-controller="Robots" asp-action="Delete" asp-route-id="@Model.Id"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

                <hr>

                <!--Grid row-->
                <div class="row d-flex justify-content-center wow fadeIn">
                    <!--Grid column-->
                    @if (assembliesCount == 0)
                    {
                        <div class="col-md-6 text-center pb-100">

                            <h4 class="my-4 h4">You don't have an Assembly yet?</h4>

                            <a class="btn btn-success btn-large" asp-controller="Assembly" asp-action="Create" asp-route-robotId="@Model.Id"><i class="fas fa-plus-circle"></i> Create Now</a>
                        </div>
                        <!--Grid column-->
                    }
                    else
                    {
                        <div class="col-md-6 text-center">

                            <h4 class="my-4 h4">Additional information</h4>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
                                voluptates,
                                quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.
                            </p>

                        </div>
                    }
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid row-->
                @*<div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

                    </div>
                    <!--Grid column-->

                </div>*@
                <!--Grid row-->

            </div>
        </main>
        <!--Main layout-->
    </div>
</section>


