@using System.Security.Claims
@using RobotsWorld.Services.Contracts
@inject IRobotService RobotService
@{
    ViewData["Title"] = "Home Page";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var userRobots = RobotService.GetUserRobots(userId);
}
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    @ViewData["Title"]
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start about-video Area -->
@if (userRobots.Any())
{
    <section class="products-area product-page section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10">Your Featured Robots</h1>
                    <p>
                        Who are in extremely love with eco friendly system.
                    </p>
                </div>
            </div>
            <div class="row">
                @foreach (var robot in userRobots)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <div class="thumb">
                                <img src="@robot.ImageUrl" class="img-fluid" style="max-height: 175px">
                            </div>
                            <div class="details">
                                <h4>@robot.Name</h4>
                                <p>
                                    @robot.SerialNumber Axes: @robot.Axes
                                </p>
                                <a href="#" class="primary-btn text-uppercase">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
<section class="about-video-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
                <h6 class="text-uppercase">Brand new robot to blow your mind</h6>
                <h1>
                    Will robots take our jobs?
                </h1>
                <p>
                    <span>Don't you have a robot yet?</span>
                </p>
                <p>
                    We are here to help you robot experience.
                </p>
                <a class="primary-btn" asp-controller="Robots" asp-action="CreateRobot">Get Started Now</a>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
                <div class="overlay overlay-bg"></div>
                <a class="play-btn" href="https://www.youtube.com/watch?v=a-7Azih0D98"><img class="img-fluid mx-auto" src="img/play-btn.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- End about-video Area -->		