@model ICollection<PartOutputModel>


<div class="table-responsive">
    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Vendor Name</th>
                <th class="sorting_asc_disabled sorting_desc_disabled"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Vendor Name</th>
                <th class="sorting_asc_disabled sorting_desc_disabled"></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var part in Model)
            {
                <tr>
                    <td>@part.Name</td>
                    <td>@part.Quantity</td>
                    <td>$@part.Price</td>
                    <td>@part.VendorName</td>
                    <td>
                        <form enctype="multipart/form-data" class="mx-auto" asp-controller="Part" asp-action="Delete" method="post">
                            <input type="hidden" value="@part.Id" name="partId" id="partId"/>
                            <input type="hidden" value="@part.SubAssemblyId" name="subAssemblyId" id="subAssemblyId"/>
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>